<mat-toolbar>
  <span class="name">cătălina chirteș</span>
  <span class="example-spacer"></span>
  <button mat-button class="custom-button">about</button>
  <a mat-button href="CV.pdf" target="_blank">resume</a>
  <a mat-icon-button href="https://www.linkedin.com/in/catalina-adela-chirtes/" target="_blank">
    <img src="linkedin.svg" alt="LinkedIn"/>
  </a>
  <a mat-icon-button class="last" href="https://github.com/CatalinaChirtes" target="_blank">
    <img src="github.svg" alt="Github"/>
  </a>
</mat-toolbar>
