<div class="dot-container">
    <ul class="dot-indicator">
      <li class="dot" data-section="2"></li>
      <li class="dot" data-section="3"></li>
      <li class="dot" data-section="4"></li>
      <li class="dot" data-section="5"></li>
      <li class="dot" data-section="6"></li>
      <li class="dot" data-section="7"></li>
      <li class="dot" data-section="8"></li>
      <li class="dot" data-section="9"></li>
    </ul>
</div>

<div class="component">
    <section class="snap-section" id="section0">
        <app-toolbar></app-toolbar>
        <img id="loading-image" src="main-screen.jpg" alt="Main Screen" class="loading-image" loading="lazy" />
        <video id="video" [muted]="'muted'" autoplay muted>
            <source src="animation.mp4" type="video/mp4">
        </video>
    </section>

    <section class="about-section snap-section" id="section1">
        <div class="about-me-container">
            <div>
                <img class="profile" src="profile.svg" alt="Profile" loading="lazy" />
            </div>
            <div class="about-container">
                <p class="title-p name">Hi, I'm Cătălina 🌸</p>
                <p class="small">💻 For the past three years I have worked as a <span style="color: #b7818d;">full stack software developer</span>, mastering skills in frontend development using <span style="color: #b7818d;">Angular</span> & backend development with <span style="color: #b7818d;">Python</span>.</p>
                <p class="small">🎨 I love exploring my creativity, and so as a <span style="color: #b7818d;">UI/UX designer</span> I was able to bring to life my concepts with the help of tools such as <span style="color: #b7818d;">Adobe XD</span> and <span style="color: #b7818d;">Figma</span>.</p>
                <p class="small">🎓 I recently obtained my <span style="color: #b7818d;">Bachelor of Computer Science</span> from the <span style="color: #b7818d;">West University of Timișoara</span> and I am currently enrolled at the <span style="color: #b7818d;">Master in Artificial Intelligence and Distributed Computing</span>, since I am eager to explore and learn how can we integrate AI more in our day to day lives, to advance the technology and simplify our daily tasks.</p>
                <p class="small">☕ Aside from work, I enjoy reading, travelling, baking, drinking lots of tea & coffee, taking care of my plants, and watching classic movies & sitcoms.</p>
                <p class="small">🐾 Did I mention that I have two <span style="color: #b7818d;">cats</span>? Meet Țiți & Miți</p>
                <img class="cats" src="cats.png" alt="Cats">
            </div>
        </div>
    </section>

    <section class="center-section thesis snap-section" id="section2">
        <div class="label">
            <p class="small-p euglena">Angular app</p>
        </div>
        <p class="title-p description description-title">Clothing Classification with Machine Learning</p>
        <div class="laptop-container center-laptop">
            <img class="laptop-image" src="laptop.png" alt="Laptop" loading="lazy" />
            <div class="webpage-scroll-laptop">
                <img class="screen-laptop" src="thesis-home.jpg" alt="Thesis Homepage" loading="lazy" />
            </div>
        </div>
        <p class="small-p description description-text">A comparative analysis of three proposed CNN-based algorithms at the clothing classification task.</p>
        <div class="link-btn">
            <img src="arrow.svg" alt="Arrow">
            <a mat-button class="link-light" href="https://github.com/CatalinaChirtes/Machine-Learning-Algorithms-for-Clothing-Articles-Classfication" target="_blank">LEARN MORE</a>
            <img style="transform: rotate(180deg);" src="arrow.svg" alt="Arrow">
        </div>
    </section>

    <section class="left-section rent-a-bauhof snap-section" id="section3">
        <div class="row">
            <div class="column left-part">
                <div class="label">
                    <p class="small-p euglena">Adobe XD design</p>
                </div>
                <p class="title-p description-title">Rent-A-Bauhof</p>
                <div class="laptop-container">
                    <img class="laptop-image" src="laptop.png" alt="Laptop" loading="lazy" />
                    <div class="webpage-scroll-laptop">
                        <img class="screen-laptop" src="rent-home.jpg" alt="Rent-A-Bauhof Homepage" loading="lazy" />
                    </div>
                </div>
                <p class="small-p description-text">A platform for borrowing and renting machinery with the people in your comunity.</p>
            </div>
            <div class="column right-part"></div>
        </div>
    </section>

    <section class="center-section school snap-section" id="section4">
        <div class="label">
            <p class="small-p euglena">Adobe XD design</p>
        </div>
        <p class="title-p description description-title">Grundschule Elementary School</p>
        <div class="laptop-container center-laptop">
            <img class="laptop-image" src="laptop.png" alt="Laptop" loading="lazy" />
            <div class="webpage-scroll-laptop">
                <img class="screen-laptop" src="school-home.jpg" alt="Elementary School" loading="lazy" />
            </div>
        </div>
        <p class="small-p description description-text">Homepage concept for an elementary school website.</p>
    </section>

    <section class="left-section cms snap-section" id="section5">
        <div class="row">
            <div class="column left-part">
                <div class="label">
                    <p class="small-p euglena">Adobe XD design</p>
                </div>
                <p class="title-p description-title">GemeindeCMS</p>
                <img class="cms-home" src="cms-home.svg" alt="GemeindeCMS Home Page" loading="lazy">
                <p class="small-p description-text">A mobile platform dedicated to news, alerts and events for the members of a comunity.</p>
            </div>
            <div class="column right-part"></div>
        </div>
    </section>

    <section class="center-section town snap-section" id="section6">
        <div class="label">
            <p class="small-p euglena">Adobe XD design</p>
        </div>
        <p class="title-p description description-title">Townhall Websites</p>
        <div class="laptop-container center-laptop">
            <img class="laptop-image" src="laptop.png" alt="Laptop" loading="lazy" />
            <div class="webpage-scroll-laptop">
                <img class="screen-laptop townhalls active" src="town1-home.jpg" alt="Townhall 1" loading="lazy" />
                <img class="screen-laptop townhalls" src="town2-home.jpg" alt="Townhall 2" loading="lazy" />
            </div>
            <div class="carousel-controls">
                <span class="next-arrow">&#10230;</span>
            </div>
        </div>
        <p class="small-p description description-text">Presentation websites with news and important information for townhalls.</p>
    </section>

    <section class="left-section wise snap-section" id="section7">
        <div class="row">
            <div class="column left-part">
                <div class="label">
                    <p class="small-p euglena">Adobe XD design</p>
                </div>
                <p class="title-p description-title">Wise Perform</p>
                <div class="laptop-container">
                    <img class="laptop-image" src="laptop.png" alt="Laptop" loading="lazy" />
                    <div class="webpage-scroll-laptop">
                        <img class="screen-laptop" src="wise-home.jpg" alt="Wise Perform Homepage" loading="lazy" />
                    </div>
                </div>
                <p class="small-p description-text">Web platform for creating and supervising custom surveys.</p>
            </div>
            <div class="column right-part"></div>
        </div>
    </section>

    <section class="center-section brew-buddy snap-section" id="section8">
        <div class="label">
            <p class="small-p euglena">Angular Ionic app</p>
        </div>
        <p class="title-p description description-title">Brew Buddy</p>
        <img class="brew-buddy-home" src="brew-home.svg" alt="Brew Buddy Home Page">
        <p class="small-p description description-text">An intuitive mobile tea companion that allows users to manage their tea collection.</p>
        <div class="link-btn">
            <img src="arrow.svg" alt="Arrow" loading="lazy">
            <a mat-button class="link-light" href="https://github.com/CatalinaChirtes/brew-buddy" target="_blank">LEARN MORE</a>
            <img style="transform: rotate(180deg);" src="arrow.svg" alt="Arrow">
        </div>
    </section>

    <section class="left-section solar snap-section" id="section9">
        <div class="row">
            <div class="column left-part">
                <div class="label">
                    <p class="small-p euglena">Figma design</p>
                </div>
                <p class="title-p description-title">Solar Solutions</p>
                <div class="laptop-container">
                    <img class="laptop-image" src="laptop.png" alt="Laptop" loading="lazy" />
                    <div class="webpage-scroll-laptop">
                        <img class="screen-laptop" src="solar-home.jpg" alt="Solar Solutions Homepage" loading="lazy" />
                    </div>
                </div>
                <p class="small-p description-text">Web platform for recommending and building solar panel solutions.</p>
            </div>
            <div class="column right-part"></div>
        </div>
    </section>

    <footer class="snap-section">
        <p>cătălina chirteș &#x2022; 2024</p>
        <a mat-icon-button href="https://www.linkedin.com/in/catalina-adela-chirtes/" target="_blank">
            <img class="icon" src="linkedin.svg" alt="LinkedIn"/>
            </a>
        <a mat-icon-button href="https://github.com/CatalinaChirtes" target="_blank">
            <img class="icon" src="github.svg" alt="Github"/>
        </a>
    </footer>
    
    <router-outlet />
</div>