// GENERAL

* {
    font-family: "Roboto Mono", monospace !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

p {
    margin-bottom: 0px;
    text-align: center;
}

p.small-p {
    font-size: 12px;
    font-weight: 600;
    padding-left: 1em;
    padding-right: 1em;
}

a.link-light {
    color: #cacaca;
    font-size: 10px;
    font-weight: 600;
}

a.link-light:hover {
    color: black;
}

a.link-dark {
    color: #cacaca;
    font-size: 10px;
    font-weight: 600;
}

a.link-dark:hover {
    color: white;
}

.link-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.mat-mdc-icon-button {
    border-radius: 0px;
    --mat-icon-button-state-layer-color: transparent;
    --mat-icon-button-ripple-color: transparent;
}

.icon {
    filter: brightness(0) invert(1);
}

.component {
    scroll-snap-type: y mandatory;
    height: 100svh;
    overflow-y: scroll;
}

.snap-section {
    position: relative;
    scroll-snap-align: start;
}

section {
    height: 100%;
    width: 100%;
}

.column {
    float: left;
    height: 100svh;
}

// DOT PAGE INDICATOR

.dot-container {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 999;
    display: none;
}

.dot-indicator {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 8px 0;
    background-color: #cacaca;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #b7818d;
}

// LANDING PAGE SECTION

app-toolbar {
    position: relative;
    z-index: 2; 
    width: 100%;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svh;
    height: 100svh;
    z-index: 1; 
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loading-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

// FOOTER

footer {
    text-align: center;
    padding: 4em;
    font-size: 10px;
    background-color: black;
    color: white;
}

// SOLAR SOLUTIONS SECTION

.solar {
    background-color: black;
    color: white;
}

.left-solar {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.right-solar {
    width: 60%;
    overflow: hidden;
    background-image: url('../../public/solar-solutions.png');
    background-size: cover;
    background-position: left center;
}

.solar-home {
    width: 100%;
    height: 50%;
}

// BREW BUDDY SECTION

.brew-buddy {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    background-image: url('../../public/brew-buddy-background.png');
    background-size: cover;
    background-position: center center;
}

.brew-buddy-home {
    max-height: 80%;
}

// MOVIE NIGHT SECTION

.left-movie {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.right-movie {
    width: 50%;
    overflow: hidden;
    background-image: url('../../public/MovieNight-pages.png');
    background-size: cover;
    background-position: left center;
}

.movie-home {
    max-width: 90%;
}

.movie {
    background-color: #540d09;
    color: white;
}

@media screen and (max-width: 1400px) {
    .left-solar {
        width: 50%;
    }

    .right-solar {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .left-movie {
        width: 60%;
    }

    .right-movie {
        width: 40%;
    }

    .left-solar {
        width: 60%;
    }

    .right-solar {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .left-movie {
        width: 70%;
    }

    .right-movie {
        width: 30%;
    }

    .left-solar {
        width: 70%;
    }

    .right-solar {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .left-movie {
        width: 80%;
    }

    .right-movie {
        width: 20%;
    }

    .left-solar {
        width: 80%;
    }

    .right-solar {
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .row {
        position: relative;
        margin-bottom: 0 !important;
    }

    video {
        display: none !important;
    }

    .loading-image {
        display: block;
    }

    .column {
        width: 100%;
        position: relative;
        float: none;
        overflow: hidden;
    }

    .left-solar {
        z-index: 2;
        position: relative;
        background-color: rgba(0, 0, 0, 0.85);
        overflow: hidden;
        margin-bottom: 0 !important;
    }

    .right-solar {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center center;
        overflow: hidden;
        margin-bottom: 0 !important;
    }

    .left-movie {
        z-index: 2;
        position: relative;
        background-color: rgba(0, 0, 0, 0.85);
        overflow: hidden;
        margin-bottom: 0 !important;
    }

    .right-movie {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center center;
        overflow: hidden;
        margin-bottom: 0 !important;
    }
    
}
