// GENERAL

* {
    font-family: "Roboto Mono", monospace !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

p {
    margin-bottom: 0px;
    text-align: center;
}

p.small-p {
    font-size: 12px;
    font-weight: 600;
    padding-left: 5em;
    padding-right: 5em;
}

.description {
    width: 40%;
}

.description-title {
    padding-bottom: 1svh;
}

.description-text {
    padding-top: 1svh;
}

a.link-light {
    color: #8e8e8e;
    font-size: 10px;
    font-weight: 600;
}

a.link-light:hover {
    color: black;
}

a.link-dark {
    color: #8e8e8e;
    font-size: 10px;
    font-weight: 600;
}

a.link-dark:hover {
    color: white;
}

.link-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.mat-mdc-icon-button {
    border-radius: 0px;
    --mat-icon-button-state-layer-color: transparent;
    --mat-icon-button-ripple-color: transparent;
}

.icon {
    filter: brightness(0) invert(1);
}

.component {
    scroll-snap-type: y mandatory;
    height: 100svh;
    overflow-y: scroll;
}

.snap-section {
    position: relative;
    scroll-snap-align: start;
}

section {
    height: 100%;
    width: 100%;
}

.column {
    float: left;
    height: 100svh;
}

// DOT PAGE INDICATOR

.dot-container {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 999;
    display: none;
}

.dot-indicator {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 8px 0;
    background-color: #8e8e8e;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #b7818d;
}

// LABEL

.label {
    position: absolute;
    display: inline-block; 
    top: 0;
    left: 0;
    background-image: url('../../public/euglena.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 3;

    .small-p {
        padding: 0.5em 3em 3em 0.8em;
        color: black;
    }
}

// LANDING PAGE SECTION

app-toolbar {
    position: relative;
    z-index: 2; 
    width: 100%;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svh;
    height: 100svh;
    z-index: 1; 
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loading-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

// FOOTER

footer {
    text-align: center;
    padding: 4em;
    font-size: 10px;
    background-color: #b7818d;
    color: white;
}

// TABLET SCROLLABLE CONTENT

.ipad-container {
    position: relative;
    max-width: 45%;
    margin: 0 auto;
}

.ipad-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    pointer-events: none; 
    z-index: 5;
}

.webpage-scroll-ipad {
    position: absolute;
    top: 8.15%;
    left: 6.5%;
    width: 87%; 
    height: 85%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 4;
}

.webpage-scroll-ipad::-webkit-scrollbar {
    display: none;
}

.screen-ipad {
    width: 100%;
    height: auto;
}

// LAPTOP SCROLLABLE CONTENT

.laptop-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.laptop-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    pointer-events: none; 
    z-index: 5;
}

.webpage-scroll-laptop {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 75%; 
    height: 78%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 4;
}

.webpage-scroll-laptop::-webkit-scrollbar {
    display: none;
}

.screen-laptop {
    width: 100%;
    height: auto;
}

// THESIS SECTION

.thesis {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    background-image: url('../../public/thesis.png');
    background-size: cover;
    background-position: center center;
}

// SCHOOL SECTION

.school {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    background-image: url('../../public/letters.png');
    background-size: cover;
    background-position: center center;
}

.school-container {
    max-width: 60%;

    .webpage-scroll-laptop {
        width: 76%; 
    }
}

// SOLAR SOLUTIONS SECTION

.solar {
    background-color: black;
    color: white;
}

.left-solar {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.right-solar {
    width: 60%;
    overflow: hidden;
    background-image: url('../../public/solar-solutions.png');
    background-size: cover;
    background-position: left center;
}

// BREW BUDDY SECTION

.brew-buddy {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    background-image: url('../../public/brew-buddy-background.png');
    background-size: cover;
    background-position: center center;
}

.brew-buddy-home {
    max-height: 80%;
}

// MOVIE NIGHT SECTION

.left-movie {
    width: 50%;
    overflow: hidden;
    background-image: url('../../public/movie-pages.png');
    background-size: cover;
    background-position: right center;
}
  
.right-movie {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movie {
    background-color: black;
    color: white;
}

// SCREEN RESIZE

@media screen and (max-width: 1400px) {
    .left-solar {
        width: 50%;
    }

    .right-solar {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .left-movie {
        width: 40%;
    }

    .right-movie {
        width: 60%;
    }

    .left-solar {
        width: 60%;
    }

    .right-solar {
        width: 40%;
    }

    .description {
        width: 50%;
    }

    .ipad-container {
        max-width: 60%;
    }

    .school-container {
        max-width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .left-movie {
        width: 30%;
    }

    .right-movie {
        width: 70%;
    }

    .left-solar {
        width: 70%;
    }

    .right-solar {
        width: 30%;
    }

    .brew-buddy-home {
        max-height: 70%;
    }

    .description {
        width: 60%;
    }

    .ipad-container {
        max-width: 70%;
    }

    .school-container {
        max-width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .left-movie {
        width: 20%;
    }

    .right-movie {
        width: 80%;
    }

    .left-solar {
        width: 80%;
    }

    .right-solar {
        width: 20%;
    }

    .brew-buddy-home {
        max-height: 60%;
    }

    .description {
        width: 70%;
    }

    .ipad-container {
        max-width: 80%;
    }

    .school-container {
        max-width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .row {
        position: relative;
        margin-bottom: 0 !important;
    }

    video {
        display: none !important;
    }

    .loading-image {
        display: block;
    }

    .column {
        width: 100%;
        position: relative;
        float: none;
        overflow: hidden;
    }

    p.small-p {
        padding-left: 2em;
        padding-right: 2em;
    }

    .description {
        width: 80%;
    }

    .description-title {
        padding-bottom: 5svh;
    }

    .description-text {
        padding-top: 5svh;
    }

    .label {
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        background-image: url('../../public/euglena-mobile.png');

        .small-p {
            padding: 0.5em 3em 3em 3em;
        }
    }

    .brew-buddy-home {
        max-height: 50%;
    }

    .left-solar {
        z-index: 2;
        position: relative;
        background-color: rgba(0, 0, 0, 0.85);
        overflow: hidden;
        margin-bottom: 0 !important;
    }

    .right-solar {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center center;
        overflow: hidden;
        margin-bottom: 0 !important;
    }

    .left-movie {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center center;
        overflow: hidden;
        margin-bottom: 0 !important;
    }

    .right-movie {
        z-index: 2;
        position: relative;
        background-color: rgba(0, 0, 0, 0.85);
        overflow: hidden;
        margin-bottom: 0 !important;
    }

    .ipad-container {
        max-width: 90%;
    }

    .school-container {
        max-width: 100%;
    }
}
