<app-toolbar></app-toolbar>

<video [muted]="'muted'" autoplay muted>
    <source src="animation.mp4" type="video/mp4">
</video>

<div class="below-video-card">
    <mat-card appearance="outlined">
        <mat-card-content>Simple card</mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>Simple card</mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>Simple card</mat-card-content>
    </mat-card>
</div>

<footer>
    <p class="footer-text">cătălina chirteș &#64; 2024</p>
    <a mat-icon-button href="https://www.linkedin.com/in/catalina-adela-chirtes/" target="_blank">
        <img class="icon" src="linkedin.svg" alt="LinkedIn"/>
      </a>
    <a mat-icon-button href="https://github.com/CatalinaChirtes" target="_blank">
        <img class="icon" src="github.svg" alt="Github"/>
    </a>
</footer>

<router-outlet />
