// GENERAL

* {
    font-family: "Roboto Mono", monospace !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

p {
    margin-bottom: 0px;
    text-align: center;
}

p.small-p {
    font-size: 12px;
    font-weight: 500;
    padding-left: 5em;
    padding-right: 5em;
}

.description {
    width: 40%;
}

.description-title {
    padding-bottom: 1svh;
}

.description-text {
    padding-top: 1svh;
}

a.link-light {
    color: #8e8e8e;
    font-size: 10px;
    font-weight: 600;
}

a.link-light:hover {
    color: black;
}

a.link-dark {
    color: #8e8e8e;
    font-size: 10px;
    font-weight: 600;
}

a.link-dark:hover {
    color: white;
}

.link-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.mat-mdc-icon-button {
    border-radius: 0px;
    --mat-icon-button-state-layer-color: transparent;
    --mat-icon-button-ripple-color: transparent;
}

.icon {
    filter: brightness(0) invert(1);
}

.component {
    scroll-snap-type: y mandatory;
    height: 100svh;
    overflow-y: scroll;
}

.snap-section {
    position: relative;
    scroll-snap-align: start;
}

section {
    height: 100%;
    width: 100%;
}

.column {
    float: left;
    height: 100svh;
}

// DOT PAGE INDICATOR

.dot-container {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 999;
    display: none;
}

.dot-indicator {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 8px 0;
    background-color: #8e8e8e;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #b7818d;
}

// LABEL

.label {
    position: absolute;
    display: inline-block; 
    top: 0;
    left: 0;
    background-image: url('../../public/euglena.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 3;

    .small-p {
        padding: 0.5em 3em 3em 0.8em;
        color: black;
    }
}

// LANDING PAGE SECTION

app-toolbar {
    position: relative;
    z-index: 2; 
    width: 100%;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svh;
    height: 100svh;
    z-index: 1; 
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loading-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

// FOOTER

footer {
    text-align: center;
    padding: 4em;
    font-size: 10px;
    background-color: #b7818d;
    color: white;
}

// LAPTOP SCROLLABLE CONTENT

.laptop-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.laptop-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    pointer-events: none; 
    z-index: 5;
}

.webpage-scroll-laptop {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 75%; 
    height: 77.5%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 4;
}

.webpage-scroll-laptop::-webkit-scrollbar {
    display: none;
}

.screen-laptop {
    width: 100%;
    height: auto;
}

.center-laptop {
    max-width: 60%;

    .webpage-scroll-laptop {
        width: 76%; 
    }
}

// CAROUSEL

.townhalls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.townhalls.active {
    opacity: 1;
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50%);
}

.next-arrow {
    cursor: pointer;
    font-size: 24px;
    color: #8e8e8e;
    padding-right: 0.7em;
    user-select: none;
}

.next-arrow:hover {
    color: black;
}

// SECTIONS

.center-section {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    background-size: cover;
    background-position: center center;
}

.left-section {
    background-color: black;
    color: white;

    .left-part {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
      
    .right-part {
        width: 50%;
        overflow: hidden;
        background-size: cover;
        background-position: left center;
    }
}

// ABOUT SECTION

.about-section {
    background-color: black;
    color: white;
    display: flex;
}

.profile {
    float: left;
    width: 60%;
    height: auto;
}

p.small {
    font-size: 12px;
    font-weight: 300;
    padding-top: 1em;
    text-align: justify; 
}

.about-container {
    padding-top: 7em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: justify;
}

.name {
    text-align: justify;
}

.cats { 
    padding-top: 2em;
    width: 25%;
    height: auto;
}

// THESIS SECTION

.thesis {
    background-image: url('../../public/thesis-pages.jpg');
}

// RENT-A-BAUHOF SECTION

.rent-a-bauhof {
    .left-part {
        width: 60%;
    }

    .right-part {
        width: 40%;
        background-image: url('../../public/rent-pages.jpg');
    }
}

// SCHOOL SECTION

.school {
    background-image: url('../../public/school-pages.jpg');
}

// GEMEINDE CMS SECTION

.cms {
    .left-part {
        width: 40%;
    }

    .right-part {
        width: 60%;
        background-image: url('../../public/cms-pages.jpg');
    }

    .cms-home {
        max-height: 70%;
    }
}

// TOWN SECTION

.town {
    background-image: url('../../public/town-pages.jpg');
}

// WISE PERFORM SECTION

.wise {
    .right-part {
        background-image: url('../../public/wise-pages.jpg');
    }
}

// BREW BUDDY SECTION

.brew-buddy {
    background-image: url('../../public/brew-pages.jpg');
}

.brew-buddy-home {
    max-height: 80%;
}

// SOLAR SOLUTIONS SECTION

.solar {
    .right-part {
        background-image: url('../../public/solar-pages.jpg');
    }
} 

// SCREEN RESIZE

@media screen and (max-width: 1600px) {
    .about-container {
        padding-top: 5em;
    }
}

@media screen and (max-width: 1400px) {
    .about-container {
        padding-top: 4em;
    }
}

@media screen and (max-width: 1200px) {
    .description {
        width: 50%;
    }

    .center-laptop {
        max-width: 70%;
    }

    .left-section {
        .left-part {
            width: 60%;
        }

        .right-part {
            width: 40%;
        }
    }

    .about-container {
        padding-top: 3em;
    }

    .cats {
        width: 30%;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    .description {
        width: 60%;
    }

    .center-laptop {
        max-width: 80%;
    }
    
    .brew-buddy-home {
        max-height: 70%;
    }

    .left-section {
        .left-part {
            width: 70%;
        }

        .right-part {
            width: 30%;
        }
    }

    .about-container {
        padding-top: 2em;
    }

    .cats {
        width: 40%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .description {
        width: 70%;
    }

    .next-arrow {
        font-size: 15px;
    }

    .center-laptop {
        max-width: 90%;
    }
    
    .brew-buddy-home {
        max-height: 60%;
    }

    .left-section {
        .left-part {
            width: 80%;
        }

        .right-part {
            width: 20%;
        }

        .cms-home {
            max-height: 60%;
        }
    }

    .about-container {
        padding-top: 1em;
    }

    .cats {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    video {
        display: none !important;
    }

    .loading-image {
        display: block;
    }

    p.small-p {
        padding-left: 2em;
        padding-right: 2em;
    }

    p.title-p {
        font-size: 14px;
    }

    p.small-p.euglena {
        font-size: 10px;
    }

    .description {
        width: 80%;
    }

    .description-title {
        padding-bottom: 5svh;
    }

    .description-text {
        padding-top: 5svh;
    }
    
    .center-laptop {
        max-width: 100%;
    }

    .brew-buddy-home {
        max-height: 50%;
    }

    .label {
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        background-image: url('../../public/euglena-mobile.png');

        .small-p {
            padding: 0.5em 3em 3em 3em;
        }
    }

    .left-section {
        .row {
            position: relative;
            margin-bottom: 0 !important;
        }
        
        .column {
            width: 100%;
            position: relative;
            float: none;
            overflow: hidden;
        }

        .left-part {
            z-index: 2;
            position: relative;
            background-color: rgba(0, 0, 0, 0.85);
            overflow: hidden;
            margin-bottom: 0 !important;
        }

        .right-part {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            background-position: center center;
            overflow: hidden;
            margin-bottom: 0 !important;
        }

        .cms-home {
            max-height: 50%;
        }
    }

    .profile {
        width: 100%;
        height: auto;
    }

    .about-container {
        padding-top: 23em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .about-section {
        height: auto;
        min-height: 100svh;
    }

    .cats {
        width: 100%;
        height: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}